* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #a9a9a9;
}

.main-container {
  border-radius: 13px;
  background-color: #fff;
  width: 60%;
  margin: 10px auto;
  padding: 30px;
}

.heading-container h1 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 3vw;
  padding: 5px;
}

.fname-container,
.lname-container,
.email-container,
.jobrole-container,
.addr-container,
.city-container,
.pin-container,
.date-container,
.cv-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5px;
}

.name-container,
.email-jobrole-container,
.city-pin-container,
.date-cv-container {
  display: flex;
}

input:not(.cv),
select {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px 5px;
}

.cv {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 8px 5px;
}

label {
  font-family: "Inter";
  font-weight: 500;
  font-size: 1vw;
  padding: 4px 1px;
}

textarea {
  resize: none;
}
.btn {
  background: transparent;
}

.btn button {
  background: #ff0000;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 8px;
  color: white;
  font-family: "Inter";
  font-weight: 400;
  font-size: 1vw;
  cursor: pointer;
}

.btn button:hover {
  background-color: #d00707;
}

.btn-container {
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 790px) {
  .name-container,
  .email-jobrole-container,
  .city-pin-container,
  .date-cv-container {
    display: flex;
    flex-wrap: wrap;
  }
  .btn button,
  label {
    font-size: 2vw;
  }
}
